* {
  font-family: "Rufina", serif;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}
div.App {
  height: 100%;
}

div.followapi {
  width: 45%;
  display: inline;
  padding-right: 5%;
}
div.followingapi {
  width: 45%;
  display: inline;
}

u {
  cursor: pointer;
}

p.paintinfo {
  height: 0vh;
  margin-bottom: 0%;
}

header {
  height: 10%;
}

nav button {
  margin-top: 10px;
  background-color: white;
}

nav button:hover {
  background-color: gray;
}

header img {
  border-radius: 50%;
  width: 15%;
  margin-right: 5%;
  height: auto;
}

div.nametag {
  display: flex;
  justify-content: space-between;
}

h1 {
  padding-left: 4%;
  width: 50%;
  position: relative;
  margin-top: 0px;
}

h2 {
  width: 50%;
  margin-bottom: 0;
  padding-left: 4%;
  font-size: 125%;
}

p {
  margin-top: 0;
  width: 50%;
  padding-left: 4%;
  font-size: 100%;
}
a {
  color: black;
}

form label {
  width: 100%;
}

form button {
  width: 50%;
}

form {
  margin-top: 0%;
  width: 80%;
  padding-left: 4%;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 5%;
}

div.insta {
  padding-left: 4%;
  padding-top: 2%;
  width: 50%;
  font-size: 75%;
}

div.carousel {
  background-image: url("./images/whitetobluewavy.svg");
  background-size: cover;
}

div.aboutcontainer {
  background-position-x: 19%;
  background-position-y: 43%;
}

div.carousel ul {
  padding: 4%;
  padding-top: 0.5%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

div.carousel ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  background-color: white;
  margin-top: 4%;
  border-radius: 5%;
}

div.carousel ul li img {
  display: inline;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: none;
}

div.bg-color {
  height: 50%;
  display: inline;
}

div.col1 {
  background-color: blue;
}
div.col2 {
  background-color: rgb(255, 0, 0);
}

div.welcome {
  display: flex;
  height: 100vh;
}
img.intro {
  z-index: 0;
  height: 100vh;
  object-fit: none;
  object-position: 30% 60%;
}

h2.introtext {
  z-index: 400;
  position: absolute;
  top: 5%;
  right: 1%;
  width: 30%;
}
@media only screen and (min-width: 900px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
  h2.introtext {
    z-index: 400;
    position: absolute;
    top: 5%;
    right: 25%;
    width: 30%;
    font-size: 200%;
  }
  img.intro {
    z-index: 0;
    height: 100vh;
    object-fit: none;
    object-position: 25% 60%;
  }
  div.carousel ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 4%;
    border-radius: 5%;
    align-items: center;
  }
  div.carousel ul li img {
    display: inline;
    width: 65%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
  }
  div.carousel ul {
    background-color: transparent;
  }
}
