* {
  font-family: "PT Serif", serif;
  background-color: #ffffff;
}

div.followapi {
  width: 45%;
  display: inline;
  padding-right: 5%;
}
div.followingapi {
  width: 45%;
  display: inline;
}

header.header {
  height: 10%;
  margin-bottom: 20%;
}

nav button {
  margin-top: 10px;
  background-color: white;
}

nav button:hover {
  background-color: gray;
}

header img {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  top: 2%;
  right: 5%;
  height: auto;
}

h1 {
  padding-left: 2%;
  padding-top: 2%;
  width: 50%;
}

div.carousel ul {
  padding-left: 0;
}

div.carousel ul li {
  list-style: none;
  display: flex;
  width: 98%;
  padding: 1%;
  background-color: white;
}

div.carousel ul li img {
  display: inline;
  max-width: 100%;
  max-height: 100%;
  border-radius: "50px";
}
