:root {
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #e5c687;
  --richBlackForeground: #0f1a20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #2d4739;
  --gray: #eee;
}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--black);
  --fontColor: var(--white);
}

* {
  font-family: "Rufina", serif;
  color: var(--fontColor);
}

div.App {
  height: 100%;
}

div.followapi {
  width: 45%;
  display: inline;
  padding-right: 5%;
}

div.followingapi {
  width: 45%;
  display: inline;
}

u {
  cursor: pointer;
}

header {
  height: 10%;
}

nav button {
  margin-top: 10px;
  background-color: var(--navBg);
}

nav button:hover {
  background-color: var(--navLinkHoverBg);
}

header img {
  border-radius: 50%;
  width: 15%;
  margin-right: 5%;
  height: auto;
}

div.nametag {
  display: flex;
  justify-content: space-between;
}

h1 {
  padding-left: 4%;
  width: 50%;
  position: relative;
  margin-top: 0px;
}

h2 {
  width: 50%;
  margin-bottom: 1%;
  padding-left: 4%;
  font-size: 125%;
}

p {
  margin-top: 0;
  width: 50%;
  padding-left: 4%;
  font-size: 100%;
}

form label {
  width: 100%;
}

form button {
  width: 50%;
}

form {
  margin-top: 0%;
  width: 80%;
  padding-left: 4%;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 2%;
}

div.insta {
  padding-left: 4%;
  padding-top: 2%;
  width: 50%;
  font-size: 75%;
}

div.carousel {
  background-image: url("./images/whitetobluewavy.svg");
  background-size: cover;
}

.about {
  margin-bottom: 0px;
}

div.aboutcontainer {
  background-image: url("./images/polkadotpattern.svg");
  padding-top: 25vh;
  padding-bottom: 25vh;
}

div.carousel ul {
  padding: 4%;
  margin-top: 0%;
  padding-top: 0.5%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

div.carousel ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin-top: 4%;
  border-radius: 5%;
}

div.carousel ul li img {
  display: inline;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: none;
}

div.bg-color {
  height: 50%;
  display: inline;
}

div.spacer {
  height: 5vh;
  background-image: url(./images/stripedpattern.svg);
}

div.welcome {
  display: flex;
  height: 100vh;
}

img.intro {
  z-index: 0;
  height: 100vh;
  width: 100%;
  object-fit: none;
  object-position: 30% 60%;
}

h2.introtext {
  color: black;
  text-shadow: 2px 2px #4d4d4d54;
  z-index: 400;
  position: absolute;
  top: 5%;
  right: 1%;
  width: 45%;
}

h3.introtext {
  color: black;
  text-shadow: 2px 2px #4d4d4d3d;
  z-index: 400;
  position: absolute;
  top: 8%;
  right: 1%;
  width: 45%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  align-items: center;
  flex-direction: column;
}

.modal-content {
  margin: 5%;
  border: 1px solid #888;
  height: auto;
  width: 100%;
  margin-bottom: 0px;
}

.modal-text {
  color: white;
  padding: 0px;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}

textarea {
  background-color: var(--mainBg);
}

@keyframes typing {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@media only screen and (min-width: 900px), (min-height: 900px) {
  body {
    background-color: var(--mainBg);
  }
  .App {
    padding-left: 20%;
    padding-right: 20%;
    background-color: var(--mainBg);
  }
  h2.introtext {
    z-index: 400;
    position: absolute;
    top: 5%;
    right: 25%;
    width: 30%;
    font-size: 200%;
  }
  h3.introtext {
    z-index: 400;
    position: absolute;
    top: 8%;
    right: 25%;
    width: 30%;
    font-size: 200%;
  }
  img.intro {
    z-index: 0;
    height: 100vh;
    object-fit: cover;
    object-position: 25% 60%;
  }
  div.carousel ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 4%;
    border-radius: 5%;
    align-items: center;
  }
  div.carousel ul li img {
    display: inline;
    width: 65%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
  }
  div.carousel ul {
    background-color: transparent;
  }
  .modal-content {
    margin: 10%;
    margin-top: 6%;
    border: 1px solid #888;
    height: 75%;
    width: auto;
    margin-bottom: 0px;
  }
}
